In [12]:
for i in range(0,20):
  if i==8:
    continue
  print(i)

0
1
2
3
4
5
6
7
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
## break and continue only exit from the immediate loops

In [13]:
for i in range(0,9):
  for j  in range(2,6):
    print(i,j)
    if j==7:
      break

0 2
0 3
0 4
0 5
1 2
1 3
1 4
1 5
2 2
2 3
2 4
2 5
3 2
3 3
3 4
3 5
4 2
4 3
4 4
4 5
5 2
5 3
5 4
5 5
6 2
6 3
6 4
6 5
7 2
7 3
7 4
7 5
8 2
8 3
8 4
8 5

In [3]:
for i in range(0,8):
  for j in range(1,5):
    if j==3:
      continue
    print(i,j)

0 1
0 2
0 4
1 1
1 2
1 4
2 1
2 2
2 4
3 1
3 2
3 4
4 1
4 2
4 4
5 1
5 2
5 4
6 1
6 2
6 4
7 1
7 2
7 4

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    if i==3:
      continue
    else:
      print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
4 1
4 2
4 3
4 4

In [4]:
row=9
for i in range(1,row+1):
  print(" "*(row-i)+i*"*")

        *
       **
      ***
     ****
    *****
   ******
  *******
 ********
*********

In [28]:
rows=10
for i in range(rows):
  for j in range(rows-i):
    print(" ",end="")
  for k in range(2*i+1):
    print("*",end="")
  print()

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************

In [23]:
for i in range(1,8):
  print(" "*(8-i)+"*"*i)

       *
      **
     ***
    ****
   *****
  ******
 *******

In [ ]:
### binary pattern program

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print((i+j)%2,end=" ")
  print()

0
1 0
0 1 0
1 0 1 0
0 1 0 1 0

In [ ]:
### Inverted number traingle

In [ ]:
row=7
for i in range(1,row):
  for j in range(1,row-i):
    print(j,end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
### Checker board pattern

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print((i+j)%2,end=" ")
  print()

0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0