In [1]:
for i in range(2,8):
    for j in range(2,i):
        print(j, end=" ")
    print("\n")

2

2 3

2 3 4

2 3 4 5

2 3 4 5 6

In [2]:
for i in range(71, 75):
    for j in range(71,i):
        print(chr(j), end=" ")
    print("\n")

G

G H

G H I

In [19]:
for i in range(1,5):
    print("*"*i, end="\n")

*
**
***
****

In [22]:
for i in range(3,9):
    for j in range(0,i):
        print(i, end=" ")
    print("\n")

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

In [23]:
x=1
for i in range(66,73):
  print(chr (i)*x, end="\n")
  x=x+1

B
CC
DDD
EEEE
FFFFF
GGGGGG
HHHHHHH

In [26]:
x=1
for i in range(5,0,-1):
    print(" "*i,x*"*")
    x=x+1

      *
     **
    ***
   ****
  *****

In [27]:
for i in range(1,13,2):
    print((i*"*").center(12," "))

     *
    ***
   *****
  *******
 *********
***********

In [31]:
s=" "
for j in range(1,6):
    s+=f"{j}"+" "
    print(s.center(11, " "))
s=" "

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [33]:
s=" "
for j in range(5,0,-1):
    s+=f"{j}"+" "
    print(s.center(11, " "))
s=" "

     5
    5 4
   5 4 3
  5 4 3 2
 5 4 3 2 1

In [34]:
x=""
for i in range(65,71):
        x=x+chr(i)+" "
        print(x.center(12," "))
        print("\n")

     A


    A B


   A B C


  A B C D


 A B C D E


A B C D E F

In [35]:
x=""
for i in range(70,64,-1):
        x=x+chr(i)+" "
        print(x.center(12," "))
        print("\n")

     F


    F E


   F E D


  F E D C


 F E D C B


F E D C B A

In [10]:
for i in range(1,10,3):
    str="*"*i
    print(str.center(12, " "))

     *
    ****
  *******

In [11]:
s=" "
for i in range(1,7):
    for j in range(1,i+1):
        s+=f"{i}"+" "
    print(s.center(13, " "))
    s=" "

      1
     2 2
    3 3 3
   4 4 4 4
  5 5 5 5 5
 6 6 6 6 6 6

In [37]:
s=" "
for i in range(65,70):
    for j in range(0,i-64):
        s+=chr(i)+" "
    print(s.center(15, " "))
    s=" "

       A
      B B
     C C C
    D D D D
   E E E E E

In [39]:
s=" "
for j in range (1,7):
    s+=f"{j}"+" "
    print(s.center(15," "))
s=" "

       1
      1 2
     1 2 3
    1 2 3 4
   1 2 3 4 5
  1 2 3 4 5 6

In [42]:
for i in range(6,0,-1):
    for j in range (1,i):
        print(j, end=" ")
    print("\n")

1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [46]:
x=5
for i in range(5,0,-1):
    for j in range (i,0,-1):
        print(x, end=" ")
        x=x-1
    print("\n")
    x=5

5 4 3 2 1

5 4 3 2

5 4 3

5 4

5

In [48]:
x=5
for i in range(1,6):
    for j in range (i,0,-1):
        print(x, end=" ")
        x=x-1

    print("\n")
    x=5

5

5 4

5 4 3

5 4 3 2

5 4 3 2 1

In [17]:
x=1
for i in range(1,6):
    for j in range (i,0,-1):
        print(x, end=" ")
        x=x+1

    print("\n")

1

2 3

4 5 6

7 8 9 10

11 12 13 14 15

In [50]:
for i in range(1,6):
    for j in range (65,71-i):
        print(chr(j), end=" ")

    print("\n")

A B C D E

A B C D

A B C

A B

A