In [ ]:
 Encapsulation:

  in encapsulation we are trying to num;de data attributes and methods into a single unit class
  restrictions will be implemented on top the classes

In [ ]:
### encapsulaiton
  ### public variabel
  ### protected _
  #### private

In [ ]:

class Car:
    def __init__(self):
        self.brand = "Mahindra"

c = Car()
print(c.brand)

Mahindra

In [ ]:

class Laptop:
    def __init__(self):
        self.ram = "20GB"

l = Laptop()
print(l.ram)

20GB

In [1]:

class Employee:
    def __init__(self):
        self._salary = 2000

e = Employee()
print(e._salary)

2000

In [2]:
class Doctor:
    def __init__(self):
        self._license_number = "MED1621"

d = Doctor()
print(d._license_number)

MED1621

In [3]:

class Employee:
    def __init__(self):
        self._salary = 45680

e = Employee()

In [4]:
e._salary

45680

In [ ]:
class Laptop:
    def __init__(self):
        self.__serial_number = "SN-987654"

l = Laptop()
l.__serial_number

AttributeError: 'Laptop' object has no attribute '__serial_number'

In [7]:
class Laptop:
    def __init__(self):
        self._serial_number = "SN-987654"

l = Laptop()
l._serial_number

'SN-987654'

In [6]:
class BankAccount:
    def __init__(self, holder_name, balance, pin):
        self._holder_name = holder_name          # protected
        self.__balance = balance                 # private
        self.__pin = pin                         # private

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount

    def withdraw(self, amount, pin):
        if pin == self.__pin and amount <= self.__balance:
            self.__balance -= amount
            return amount
        else:
            return "Invalid pin or insufficient funds"

    def get_balance(self, pin):
        return self.__balance if pin == self.__pin else "Access Denied"

In [8]:
object1=BankAccount("Student1",1000,1000)
object1._holder_name

'Student1'

In [9]:
object1.get_balance(1000)

1000

In [11]:
object1.deposit(986545300)

In [12]:
object1.get_balance(1000)

986546600

In [18]:
class Box:
    def __init__(self, length, width):
        self.__length = length
        self.__width = width

    def get_area(self):
        return self.__length * self.__width

b = Box(5, 4)
print("Area of box:", b.get_area())

Area of box: 20

In [27]:
class Contact:
    def __init__(self):
        self.__phone = ""

    def set_phone(self, phone):
        if len(phone) == 10 and phone.isdigit():
            self.__phone = phone
        else:
            print("Invalid phone number")

    def get_phone(self):
        return self.__phone

c = Contact()
c.set_phone("1234567891")
print(c.get_phone())

c.set_phone("9876543210")
print(c.get_phone())

1234567891
9876543210

In [ ]:
class Student:
    def __init__(self, name):
        self._name = name
        self.__grades = {}

    def add_grade(self, subject, grade):
        self.__grades[subject] = grade

    def _average(self):
        return sum(self.__grades.values()) / len(self.__grades)

    def get_report(self):
        return f"Student: {self._name}, Average: {self._average()}"

object1=Student("Student1")
object1.add_grade("science",80)
object1.add_grade("maths",80)
object1.add_grade("computers",80)
object1.get_report()

'Student: Student1, Average: 80.0'

In [13]:
class Student:
    def __init__(self, name):
        self._name = name
        self.__grades = {}

    def add_grade(self, subject, grade):
        self.__grades[subject] = grade

    def _average(self):
        return sum(self.__grades.values()) / len(self.__grades)

    def get_report(self):
        return f"Student: {self._name}, Average: {self._average()}"

In [14]:
object1=Student("Student1")
object1.add_grade("science",80)
object1.get_report()

'Student: Student1, Average: 80.0'

In [15]:
class Marks:
    def __init__(self):
        self.__math = 0

    def set_marks(self, marks):
        if 0 <= marks <= 100:
            self.__math = marks
        else:
            print("Invalid marks")

    def get_marks(self):
        return self.__math

m = Marks()
m.set_marks(105)
m.set_marks(90)
print(m.get_marks())

Invalid marks
90

In [17]:
class Product:
    def __init__(self, name, price):
        self.name = name
        self.__price = price

    def get_price(self):
        return self.__price

    def set_price(self, price):
        if price > 0:
            self.__price = price

p = Product("Shoes", 1500)
print(p.get_price())
p.set_price(200)
print(p.get_price())
p.set_price(1800)
print(p.get_price())

1500
200
1800

In [ ]:
class Student:
    def __init__(self, name):
        self._name = name
        self.__grades = {}

    def add_grade(self, subject, grade):
        self.__grades[subject] = grade

    def _average(self):
        return sum(self.__grades.values()) / len(self.__grades)

    def get_report(self):
        return f"Student: {self._name}, Average: {self._average()}"

object1=Student("Student1")
object1=Student("Student2")
object1.add_grade("science",80)
object1.add_grade("maths",80)
object1.add_grade("computers",80)
object1.add_grade("science1",20)
object1.add_grade("maths1",20)
object1.add_grade("computers1",80)
object1.get_report()
object1.__grades

AttributeError: 'Student' object has no attribute '__grades'

In [ ]:
### Abstraction : we will implemet a class with internal details

### we will be hiding the internal implementation of methods
### and showing only essential featues of an object

#### reduce the xomplexity and increase code reusablitiy

In [ ]:
from abc import ABC, abstractmethod

class Payment(ABC):
    @abstractmethod
    def pay(self, amount,interest):
        pass

class CreditCard(Payment):
    def pay(self, amount):
        print(f"Paid ₹{amount} using Credit Card")

class UPI(Payment):
    def pay(self, amount):
        print(f"Paid ₹{amount} using UPI")

In [ ]:

p1 = CreditCard()
p1.pay(1000)

p2 = UPI()
p2.pay(500)

Paid ₹1000 using Credit Card
Paid ₹500 using UPI

In [ ]:
### Exception handlings

In [ ]:
try :
  print(2+"3")
except:
  print("test")

test

In [ ]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")

Cannot divide by zero!

In [ ]:
try:
    with open("/content/sample1.txt", "r") as f:
        content = f.read()
        print(content)
except FileNotFoundError:
    print("File not found.")

File not found.

In [ ]:
try:
    number = float("abc")
    print(number)
except ValueError:
    print("Invalid number format.")

Invalid number format.

In [ ]:
try:
    items = [1, 2, 3]
    print(items[5])
except IndexError:
    print("Index out of range.")

[]

In [ ]:
try:
    data = {"name": "Alice"}
    print(data["name"])
except KeyError:
    print("Key not found in dictionary.")

Alice

In [ ]:
try:
    x = 5
    x.append(2)
except AttributeError:
    print("Invalid attribute for the object.")

Invalid attribute for the object.

In [ ]:
try:
    value = int("abc")
    result = 10 / 0
except (ValueError, ZeroDivisionError) as e:
    print("Caught an error:", e)

Caught an error: invalid literal for int() with base 10: 'abc'

In [ ]:
try:
    number = int("100")
except ValueError:
    print("Conversion failed.")
else:
    print("Conversion successful:", number)

Conversion successful: 100

In [ ]:
try:
    f = open("sample.txt", "r")
    data = f.read()
except FileNotFoundError:
    print("File not found.")
finally:
    print("Execution complete.")

In [ ]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Divide by zero error")
else:
    print("Result:", result)
finally:
    print("Done with division")

Divide by zero error
Done with division

In [ ]:
try:
    lst = [1, 2]
    print(lst[5])
except IndexError:
    print("Index out of range")
else:
    print("List item accessed")
finally:
    print("List operation done")

In [ ]:
"invalid"*2

'invalidinvalid'

In [ ]:
data = [[1, 2], [3, 4], "invalid"]
for sublist in data:
    for item in sublist:
        print(item * 2)

2
4
6
8
ii
nn
vv
aa
ll
ii
dd

In [ ]:
try:
    data = [[1, 2], [3, 4], "invalid"]
    for sublist in data:
        for item in sublist:
            print(item * 2)
except TypeError as e:
    print("Type Error:", e)
else:
    print("Nested list processed")
finally:
    print("List handling complete")

2
4
6
8
ii
nn
vv
aa
ll
ii
dd
Nested list processed
List handling complete

In [ ]:
try:
    a = {1, 2, 3}
    b = "abc"
    result = a | b  # Unsupported operand types
except TypeError as e:
    print("Set union error:", e)
else:
    print("Set union successful")
finally:
    print("Set operation done")

In [ ]:
try:
    a = {1, 2, 3}
    b = "abc"
    result = a | b  # Unsupported operand types
except TypeError as e:
    print("Set union error:", e)
else:
    print("Set union successful")
finally:
    print("Set operation done")

Set union error: unsupported operand type(s) for |: 'set' and 'str'
Set operation done

| Exception Name          | Reason for Occurrence                                                  |
|-------------------------|------------------------------------------------------------------------|
| `ZeroDivisionError`     | Raised when dividing a number by zero.                                 |
| `ValueError`            | Raised when a function receives an argument of the right type but invalid value. |
| `TypeError`             | Raised when an operation or function is applied to an inappropriate type. |
| `IndexError`            | Raised when a list/tuple/string index is out of range.                 |
| `KeyError`              | Raised when accessing a dictionary with a missing key.                 |
| `AttributeError`        | Raised when an invalid attribute reference is made on an object.       |
| `ImportError`           | Raised when an import fails for a module that doesn’t exist.           |
| `ModuleNotFoundError`   | Raised when the specified module can’t be found.                       |
| `FileNotFoundError`     | Raised when a file or directory is requested but doesn’t exist.        |
| `IOError`               | Raised when an I/O operation (like reading or writing a file) fails.   |
| `RuntimeError`          | Raised when an error is detected that doesn’t fall in other categories.|
| `StopIteration`         | Raised to signal the end of an iterator.                              |
| `OverflowError`         | Raised when a numerical operation exceeds the maximum limit.           |
| `MemoryError`           | Raised when an operation runs out of memory.                           |
| `IndentationError`      | Raised when indentation is incorrect.                                  |
| `SyntaxError`           | Raised when Python code is invalid or improperly structured.           |
| `NameError`             | Raised when a variable is not defined.                                 |
| `UnboundLocalError`     | Raised when a local variable is referenced before assignment.          |
| `AssertionError`        | Raised when an `assert` statement fails.                               |
| `NotImplementedError`   | Raised when an abstract method is not overridden in a subclass.        |